#MyButton {
	background-color:#050505;
	border-radius:6px;
	border:1px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
#MyButton:hover {
	background-color:#141414;
}
#MyButton:active {
	position:relative;
	top:1px;
}